.center {
    padding: 10px 30px 10px 30px;
    margin: auto;
    width: 80%;
    max-width: 500px;
  }

p,h1 {
    font-family: monospace;
}
h1{
    font-size: 18px;
}
a{
    font-weight: bold;
    text-decoration: none;
}

